.header{
  height: 1000px;
  background-image: url("~src/assets/img/header/background-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .header-body{

    .header-menu{
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 30px 0 0 0;

      .menu-logo__img{
        margin: 0 65px 0 0;
        .img-logo{
          margin: 0 20px 0 0;
        }
      }

      .nav-menu{
        ul{
          display: flex;

          & > *:not(:last-child){
            margin: 0 56px 0 0;
          }
          li{
            .menu-link{
              font-size: 18px;
              font-weight: 600;
              font-family: Poppins,sans-serif;
              line-height: calc(27/18*100%);
              color: white;
            }
          }
        }
      }
    }

    .single-music{
      padding: 322px 0 0 0;
      .single-music__title{
        font-size: 48px;
        font-weight: 700;
        font-family: Poppins, sans-serif;
        line-height: calc(72/48*100%);
        padding: 0 0 10px 0;
        color: white;
      }
      .single-music__text{
        font-size: 100px;
        font-weight: 700;
        font-family: Poppins, sans-serif;
        line-height: calc(150/100*100%);
        color: transparent;
        -webkit-text-stroke: 1px white;
      }
      .single-music__audio{
        display: flex;
        align-items: center;

        padding: 52px 0 0 0;

        .audio-button{
          margin: 0 45px 0 0;
        }

        .audio-line{
          max-width: 887px;
          width: 100%;
          height: 6px;

          margin: 0 47px 0 0;
        }

        .audio-timer{
          font-size: 18px;
          font-weight: 500;
          font-family: Poppins, sans-serif;
          line-height: 27px;

          color: white;
        }
      }
    }
  }
}
