<header class="header">
  <div class="header-container container">
    <div class="header-body">
      <div class="header-menu">
        <div class="menu-logo__img">
          <img class="img-logo" src="./assets/img/header/Logo-img.svg" alt="">
          <img class="img-logo__text" src="./assets/img/header/Logo-text__img.svg" alt="">
        </div>
        <nav class="nav-menu">
          <ul>
            <li><a class="menu-link" href="">About</a></li>
            <li><a class="menu-link" href="">News</a></li>
            <li><a class="menu-link" href="">Music</a></li>
            <li><a class="menu-link" href="">Media</a></li>
            <li><a class="menu-link" href="">Tours</a></li>
            <li><a class="menu-link" href="">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="single-music">
        <h1 class="single-music__title">New Single</h1>
        <span class="single-music__text">War For Love</span>
       <div class="single-music__audio">
         <img class="audio-button" src="./assets/img/header/Play-btn.svg" alt="">
         <progress class="audio-line" max="100" value="45"></progress>
         <span class="audio-timer">00:22-02:54</span>
       </div>
      </div>
    </div>
  </div>
</header>
