<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-logo">
        <div class="logo-img">
          <img src="./assets/img/header/Logo-img.svg" alt="">
        </div>
        <div class="logo-img__text">
          <img src="./assets/img/header/Logo-text__img.svg" alt="">
        </div>
      </div>
      <div class="footer-management">
        <div class="management-title">
          <h4 class="data-title">artist management:</h4>
          <h4 class="data-title">email:</h4>
        </div>
        <div class="management-text">
          <p class="data-text">jake henny</p>
          <p class="data-text">jake@brightlightsofficial.com</p>
        </div>
      </div>
      <div class="footer-website__link">
        <div class="link-img"><a href=""><img src="./assets/img/footer/Group%2035.svg" alt=""></a></div>
        <div class="link-img"><a href=""><img src="./assets/img/footer/Group%2036.svg" alt=""></a></div>
        <div class="link-img"><a href=""><img src="./assets/img/footer/Group%2037.svg" alt=""></a></div>
        <div class="link-img"><a href=""><img src="./assets/img/footer/Group%2038.svg" alt=""></a></div>
        <div class="link-img"><a href=""><img src="./assets/img/footer/Group%2039.svg" alt=""></a></div>
        <div class="link-img"><a href=""><img src="./assets/img/footer/Group%2040.svg" alt=""></a></div>
      </div>
      <div class="footer-text">
        <p class="text">© 2020 DJ bright lights.</p>
      </div>
    </div>
  </div>
</footer>
