<main class="main">
  <div class="main-container container">
    <section class="recommendation">
      <div class="recommendation-column">
        <div class="recommendation-item">
          <img src="./assets/img/header/first-img.svg" alt="">
          <div class="item-text">
            <p>Working on my upcoming full-lenth
              album that`s releasing later this year.</p>
          </div>
        </div>
        <div class="recommendation-item">
          <img src="./assets/img/header/second-img.svg" alt="">
          <div class="item-text">
            <p>Halloween vibes.<br>
              Listen my new track!</p>
          </div>
        </div>
        <div class="recommendation-item">
          <img src="./assets/img/header/third-img.svg" alt="">
          <div class="item-text">
            <p>WarForLove is OUT NOW!!<br>
              Stream it here!</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bright-lights">
      <div class="bring-lights-body">
        <div class="bring-lights-title">
          <img class="lights-img" src="./assets/img/main/Group%2031.svg" alt="">
          <h2 class="lights-title">Bright Lights</h2>
        </div>
        <div class="bring-lights-container">
          <div class="bring-lights-info">
            <p class="bring-lights-text">Bright Lights is a multi-Grammy nominated singer,
              songwriter, DJ and record producer. She has written for numerous <br> <br>

              pop stars including Britney Spears, Justin Bieber, Usher and Beyoncé.
              Her catalog has amassed over 1 billion streams worldwide. More than 100 million
              of those streams can be attributed to her artist career and include such hits as
              Porter Robinson's "Language," 3LAU's "How You Love Me" and her own single "Runaway."
              She was also a featured vocalist on Zedd's #1 Clarity album. Her latest music video,
              "Put It Down," reached 1 million streams in the first week, releasing independently.
              Bright Lights is currently in the studio working on a self-produced album slated for
              release in 2020. </p>
            <div class="bring-lights-popular">
              <div class="popular-genre">
                <div class="genre">
                  <img src="./assets/img/main/Rectangle%2012.svg" alt="">
                  <p class="genre-text">Based in: Los Angeles</p>
                </div>
                <div class="genre">
                  <img src="./assets/img/main/Rectangle%2012.svg" alt="">
                  <p class="genre-text">Genre: #DancePop</p>
                </div>
              </div>
              <div class="popular-genre right">
                <div class="genre">
                  <img src="./assets/img/main/Rectangle%2012.svg" alt="">
                  <p class="genre-text">Founded in 2011</p>
                </div>
                <div class="genre">
                  <img src="./assets/img/main/Rectangle%2012.svg" alt="">
                  <p class="genre-text">Label: 333 Recordings</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bring-lights-img">
            <img class="first-img" src="./assets/img/main/Rectangle%2016.svg" alt="">
            <img class="second-img" src="./assets/img/main/Rectangle%2017.svg" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="mainstream-music">
      <div class="mainstream-music-body">
        <div class="mainstream-music-text">
          <div class="mainstream-music-item">
            <img class="music-comma" src="./assets/img/main/“.svg" alt="">
            <p class="music-text">“In an age where mainstream music is designed to be as
              easily consumed as possible, listening to Bright Lights is
              refreshing, to say the least. Her sound is perfect for radio
              but complex enough to separate her from other pop newcomers.”</p>
            <hr class="music-line">
            <a class="music-link" href="">PopULove.net</a>
          </div>
        </div>
        <div class="mainstream-music-img">
          <div class="music-img">
            <img class="music-img" src="./assets/img/main/Rectangle%2019.svg" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="last-track">
      <div class="last-track-body">
        <div class="last-track__img">
          <img src="./assets/img/main/Group%2010.svg" alt="">
        </div>
        <div class="last-track-popular">
          <div class="last-track-title">
            <img src="./assets/img/main/Group%2031.svg" alt="">
            <h2 class="last-track-text">Last tracks</h2>
          </div>
          <div class="last-track__audio">
            <img src="./assets/img/header/Play-btn.svg" alt="">
            <progress class="audio-line" max="100" value="45"></progress>
            <span class="audio-timer">00:47-03:30</span>
          </div>
          <div class="last-track-top">
            <p class="top-text purple"><span class="text-number">01</span>3LAU, Bright Lights — How You Love Me</p>
            <p class="top-text"><span class="text-number">02</span>Bright Lights, Kaleena Zanders, Kandy — War For Love</p>
            <p class="top-text"><span class="text-number">03</span>Pink Is Punk, Benny Benassi, Bright Lights — Ghost</p>
            <p class="top-text"><span class="text-number">04</span>Hardwell, Dyro, Bright Lights — Never Say Goodbye</p>
            <p class="top-text"><span class="text-number">05</span>Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now</p>
            <p class="top-text"><span class="text-number">06</span>Zedd, Bright Lights — Follow You Down</p>
          </div>
          <div class="last-track-follow">
            <h2 class="follow-title">Follow me:</h2>
            <div class="follow-img">
              <a href="#"><img class="music-platform-img" src="./assets/img/main/spotify.svg" alt=""></a>
              <p class="music-platform-text">Spotify</p>
            </div>
            <div class="follow-img">
              <a href="#"><img class="music-platform-img" src="./assets/img/main/itunes.svg" alt=""></a>
              <p class="music-platform-text">iTunes</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mainstage">
      <div class="mainstage-body">
        <div class="mainstage-column">
          <img src="./assets/img/main/Rectangle%2020.png" alt="">
        </div>
        <div class="mainstage-column">
          <div class="mainstage-item-f">
            <img src="./assets/img/main/Rectangle%2021.png" alt="">
            <img src="./assets/img/main/Rectangle%2022.png" alt="">
          </div>
          <div class="mainstage-item-s">
            <img src="./assets/img/main/Rectangle%2025.png" alt="">
          </div>
        </div>
        <div class="mainstage-column">
          <img src="./assets/img/main/Rectangle%2023.png" alt="">
        </div>
      </div>
    </section>

  </div>
</main>
